.vector-icon19 {
  position: absolute;
  top: 97px;
  left: 0;
  width: 690.8px;
  height: 593.39px;
}
.rectangle-icon14 {
  position: absolute;
  top: 30px;
  left: 191px;
  width: 542px;
  height: 669px;
}
.anova8 {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.anova-consultancies-is-container1,
.anova7 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 686px;
  flex-shrink: 0;
}
.anova7 {
  line-height: 36px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #8e53ed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 41px;
}
.anova-consultancies-is-container1 {
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-family: var(--font-roboto);
  height: 419.45px;
}
.frame7 {
  position: absolute;
  top: 122px;
  left: 991px;
  width: 687px;
  height: 496px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  gap: var(--gap-16xl);
}
.vector-icon20 {
  position: absolute;
  top: 254.03px;
  left: 1727.47px;
  width: 192.53px;
  height: 651.85px;
}
.our-core-values1 {
  position: absolute;
  top: 50px;
  left: calc(50% - 374.5px);
  font-size: var(--font-size-29xl);
  letter-spacing: -0.01em;
  line-height: 72px;
  display: inline-block;
  color: var(--color-white);
  width: 750px;
  height: 76px;
}
.a-virtuous-organisation1,
.virtuous1 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 301px;
}
.virtuous1 {
  line-height: 36px;
  font-weight: 600;
  height: 36px;
  flex-shrink: 0;
}
.a-virtuous-organisation1 {
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
}
.frame8,
.rectangle1 {
  position: absolute;
  top: 157px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 429px;
  height: 330px;
}
.frame8 {
  left: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-12xl) var(--padding-44xl) var(--padding-70xl)
    var(--padding-46xl);
  gap: var(--gap-5xl);
}
.rectangle1 {
  left: 612px;
}
.customer-centricity-is1,
.customer-centricity1 {
  position: absolute;
  letter-spacing: -0.01em;
  display: inline-block;
}
.customer-centricity1 {
  top: 187px;
  left: 636px;
  line-height: 36px;
  font-weight: 600;
  width: 381px;
  height: 36px;
}
.customer-centricity-is1 {
  top: 246px;
  left: 677px;
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  width: 301px;
  height: 215px;
}
.rectangle2 {
  position: absolute;
  top: 157px;
  left: 1137px;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 429px;
  height: 330px;
}
.diversity-inclusion1,
.the-path-to1 {
  position: absolute;
  letter-spacing: -0.01em;
  display: inline-block;
}
.diversity-inclusion1 {
  top: 187px;
  left: 1160px;
  line-height: 36px;
  font-weight: 600;
  width: 384px;
  height: 36px;
}
.the-path-to1 {
  top: 247px;
  left: 1202px;
  font-size: var(--font-size-lg);
  line-height: 30px;
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  width: 301px;
  height: 215px;
}
.core-values1 {
  position: absolute;
  top: 744px;
  left: 103px;
  background: linear-gradient(72.06deg, #f8569a, #cd9fef);
  width: 1713px;
  height: 575px;
  overflow-x: auto;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.about-us10 {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--color-lavender);
  width: 1920px;
  height: 1398px;
  overflow: hidden;
}
.industrial-coverage1 {
  position: absolute;
  top: 50px;
  left: 224px;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.01em;
  line-height: 72px;
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  width: 1392px;
  height: 72px;
}
.e-commerce {
  margin: 0;
}
.e-commerce-retail {
  position: relative;
  line-height: 127%;
  font-weight: 600;
}
.text {
  width: 163px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon5 {
  position: relative;
  width: 72px;
  height: 72px;
}
.content37,
.div14,
.div16 {
  justify-content: flex-start;
}
.content37 {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-71xl);
}
.div14,
.div16 {
  background-color: var(--color-lavender);
  width: 385px;
  flex-direction: column;
  padding: var(--padding-11xl);
  box-sizing: border-box;
}
.div14 {
  display: flex;
  align-items: flex-start;
}
.div16 {
  height: 132px;
}
.div13,
.div16,
.text5 {
  display: flex;
  align-items: flex-start;
}
.div13 {
  width: 1219px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-13xl);
}
.text5 {
  width: 163px;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0;
}
.content-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--buttons-primary);
  width: 72px;
  height: 72px;
  z-index: 1;
}
.bitcoin-circle-icon-outline {
  position: absolute;
  margin: 0 !important;
  height: 51.38%;
  width: 11.38%;
  top: 25%;
  right: 5.38%;
  bottom: 23.62%;
  left: 83.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.content42,
.div17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.content42 {
  width: 325px;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-71xl);
}
.div17 {
  width: 1220px;
  height: 132px;
  justify-content: center;
  gap: var(--gap-13xl);
}
.content36,
.div21,
.div22,
.div23,
.services11 {
  width: 1220px;
  height: 291px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content36 {
  gap: 27px;
}
.div21,
.div22,
.div23,
.services11 {
  position: absolute;
  top: 271px;
  left: 310px;
}
.div21,
.div22,
.div23 {
  top: 600px;
  left: 313px;
  background-color: var(--color-lavender);
  width: 385px;
  height: 132px;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
}
.div22,
.div23 {
  left: 1145px;
}
.div23 {
  top: 599px;
  left: 730px;
  height: 133px;
}
.industrial-coverage {
  position: absolute;
  top: 2790px;
  left: 0;
  background-color: #e01090;
  width: 1920px;
  height: 900px;
  overflow: hidden;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-200);
}
.vector-icon21,
.world-icon {
  position: absolute;
  top: 3308.4px;
  left: 1560.91px;
  width: 359.09px;
  height: 571.75px;
}
.world-icon {
  top: 85.75px;
  left: 0;
  width: 1410px;
  height: 972.74px;
}
.geographical-coverage1 {
  position: absolute;
  top: 50px;
  left: 154px;
  letter-spacing: -0.01em;
  line-height: 72px;
  display: inline-block;
  width: 1392px;
  height: 72px;
}
.middle-east-region,
.our-core-team,
.our-team-members,
.we-are-a {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 622px;
  flex-shrink: 0;
}
.middle-east-region {
  line-height: 36px;
  font-weight: 600;
  height: 45.87px;
}
.our-core-team,
.our-team-members,
.we-are-a {
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  height: 110.86px;
}
.our-core-team,
.our-team-members {
  height: 126.15px;
}
.our-team-members {
  height: 135.07px;
}
.frame9 {
  position: absolute;
  top: 252px;
  left: 1161px;
  width: 622px;
  height: 669px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 31px;
  text-align: left;
  font-size: var(--font-size-17xl);
}
.geographical-coverage {
  position: absolute;
  top: 1708px;
  left: 0;
  background-color: var(--color-lavender);
  width: 1920px;
  height: 1082px;
  overflow: hidden;
  text-align: center;
  color: var(--color-black);
}
.vector-icon22 {
  position: absolute;
  top: 2660.36px;
  left: 0;
  width: 299.71px;
  height: 482.52px;
}
.official-member-of1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 777px;
  height: 100px;
  flex-shrink: 0;
}
.dubai-chamber-logo-en-1-icon1 {
  position: relative;
  width: 400px;
  height: 171px;
  object-fit: cover;
}
.partners1 {
  position: absolute;
  top: 1458px;
  left: -1px;
  background-color: var(--color-lavender);
  width: 1920px;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-152xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-171xl);
  text-align: center;
  color: var(--buttons-primary);
}
.meet-our-experts1 {
  margin: 0;
  position: absolute;
  top: 100px;
  left: calc(50% - 375px);
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 72px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 750px;
  height: 74px;
}
.vector-icon23,
.vector-icon24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276.46px;
  height: 303.39px;
}
.vector-icon24 {
  top: 618.74px;
  left: 1487.1px;
  width: 432.9px;
  height: 281.26px;
}
.image-icon4 {
  position: relative;
  width: 386px;
  height: 532px;
  object-fit: cover;
}
.arup-angle1,
.consultant1 {
  position: relative;
  text-align: center;
}
.arup-angle1 {
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-200);
}
.consultant1 {
  font-size: var(--font-size-lg);
  line-height: 135.19%;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
}
.content46,
.image-parent1,
.title15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title15 {
  width: 203px;
  gap: var(--gap-9xs);
}
.content46,
.image-parent1 {
  width: 386px;
}
.content46 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl) var(--padding-50xl);
  background-color: var(--color-white);
  box-sizing: border-box;
  margin-top: -136px;
}
.image-parent1 {
  position: absolute;
  top: 256px;
  left: 1413px;
  height: 532px;
}
.yogita-goswami1 {
  position: relative;
  font-weight: 600;
}
.managing-director1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 135.19%;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
}
.content47 {
  background-color: var(--color-white);
  width: 386px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-50xl);
  box-sizing: border-box;
  margin-top: -136px;
}
.image-parent2 {
  position: absolute;
  top: 256px;
  left: 126px;
  height: 532px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
}
.content48,
.image-parent2,
.image-parent3 {
  width: 386px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content48 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl) var(--padding-50xl);
  background-color: var(--color-white);
  box-sizing: border-box;
  mix-blend-mode: normal;
  margin-top: -136px;
}
.image-parent3 {
  position: absolute;
  top: 256px;
  left: 555px;
  height: 532px;
}
.principal-consultant1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 135.19%;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
}
.image-parent4 {
  position: absolute;
  top: 256px;
  left: 984px;
  width: 386px;
  height: 532px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.team1 {
  position: absolute;
  top: 3690px;
  left: 0;
  background-color: var(--buttons-primary);
  width: 1920px;
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.about-us11,
.contact17,
.home12,
.services12 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: calc(50% - 131.5px);
  letter-spacing: -0.01em;
  color: inherit;
}
.contact17,
.home12,
.services12 {
  left: calc(50% - 290.5px);
}
.contact17,
.services12 {
  left: calc(50% + 51.5px);
}
.contact17 {
  left: calc(50% + 228.5px);
}
.group-div {
  position: absolute;
  top: 14px;
  left: calc(50% - 300px);
  width: 581px;
  height: 21px;
}
.button-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--buttons-primary);
}
.register5 {
  position: absolute;
  top: 17.5%;
  left: 3.36%;
  font-size: var(--font-size-lg);
  letter-spacing: -0.01em;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.button13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4px;
  right: 0;
  width: 215px;
  height: 40px;
  overflow: hidden;
}
.logo-anova-2-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 246px;
  height: 48px;
  object-fit: cover;
}
.navbar5 {
  position: absolute;
  top: 7px;
  left: calc(50% - 898px);
  width: 1796px;
  height: 48px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--buttons-primary);
  font-family: var(--font-roboto);
}
.background5 {
  position: relative;
  background-color: var(--color-darkslategray-200);
  width: 1920px;
  height: 703px;
  z-index: 0;
}
.icon13 {
  position: relative;
  width: 68px;
  height: 68px;
}
.dubai-uae7 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
}
.content51,
.location10 {
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.location10 {
  width: 246px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  z-index: 0;
}
.logo-anova-3-icon5 {
  position: absolute;
  margin: 0 !important;
  top: 3px;
  left: -0.01px;
  width: 315px;
  height: 62px;
  object-fit: cover;
  z-index: 1;
}
.content52,
.mail9 {
  justify-content: flex-start;
}
.content52 {
  width: 163px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xs);
}
.mail9 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 585px;
  width: 242px;
  gap: var(--gap-2xs);
  z-index: 2;
}
.contact18,
.header11,
.mail9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact18 {
  width: 1219px;
  justify-content: flex-end;
  position: relative;
  gap: var(--gap-41xl);
}
.header11 {
  justify-content: flex-start;
}
.line10 {
  position: relative;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1218px;
  height: 1px;
}
.header10,
.quick-link11 {
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.header10 {
  width: 1220px;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-35xl);
}
.quick-link11 {
  position: relative;
  font-weight: 600;
  color: var(--buttons-primary);
}
.home13 {
  text-decoration: none;
  position: relative;
  line-height: 220.19%;
  color: inherit;
  display: inline-block;
  width: 79px;
}
.quick-link10 {
  width: 121px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.hr-consulting8 {
  cursor: pointer;
}
.hr-consulting8,
.it-consulting8 {
  text-decoration: none;
  position: relative;
  line-height: 220.19%;
  color: inherit;
  display: inline-block;
  width: 198px;
}
.servives5 {
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.terms-of-use8 {
  text-decoration: none;
  color: inherit;
}
.company-profile7,
.terms-of-use8 {
  position: relative;
  line-height: 220.19%;
  display: inline-block;
  width: 140px;
}
.pages5,
.uitility5 {
  width: 140.01px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.pages5 {
  width: 659.01px;
  flex-direction: row;
  gap: var(--gap-81xl);
}
.join-our-mailing5 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 220.19%;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 333px;
  height: 27px;
  flex-shrink: 0;
}
.title19 {
  width: 333px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.your-email-address5 {
  position: relative;
}
.message-box5 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 264px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
}
.subscribe17 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: right;
}
.button14,
.mail-box5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl) var(--padding-8xl) var(--padding-3xl);
  background-color: var(--buttons-primary);
  border-radius: var(--br-3xs);
  justify-content: center;
}
.mail-box5 {
  width: 407px;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-roboto);
}
.content53 {
  width: 407px;
  flex-direction: column;
  gap: var(--gap-4xl);
}
.content53,
.details5,
.subscribe15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subscribe15 {
  background-color: var(--color-darkslategray-100);
  width: 479px;
  flex-direction: column;
  padding: var(--padding-23xl) var(--padding-17xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.details5 {
  width: 1220.01px;
  flex-direction: row;
  gap: var(--gap-63xl);
}
.anova9 {
  color: var(--buttons-primary);
}
.copyright-2023-container5 {
  position: relative;
  line-height: 144.52%;
  display: inline-block;
  width: 704px;
  flex-shrink: 0;
  z-index: 0;
}
.follow5,
.vector-icon25 {
  position: absolute;
  margin: 0 !important;
}
.follow5 {
  top: 0;
  left: 1124.92px;
  line-height: 144.52%;
  z-index: 1;
}
.vector-icon25 {
  height: 96.15%;
  width: 2.05%;
  top: 3.85%;
  right: -0.01%;
  bottom: 0;
  left: 97.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.copyrights11 {
  width: 1219.84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-289xl);
}
.content50,
.copyrights10,
.footer5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyrights10 {
  width: 1219.84px;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.content50,
.footer5 {
  position: absolute;
}
.content50 {
  margin: 0 !important;
  top: 96px;
  left: 350px;
  width: 1220.01px;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  z-index: 1;
}
.footer5 {
  top: 4590px;
  left: 0;
  width: 1920px;
  height: 703px;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.about-us9 {
  position: relative;
  background-color: var(--color-lavender);
  width: 100%;
  height: 5293px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
