.contact-child {
  position: absolute;
  top: 108px;
  left: -2010px;
  width: 1920px;
  height: 1507px;
}
.background-icon3 {
  position: relative;
  width: 585px;
  height: 454px;
  object-fit: cover;
  z-index: 0;
}
.want-to-get1 {
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 0;
  line-height: 151.52%;
  font-weight: 500;
  display: inline-block;
  width: 585px;
  height: 64px;
  flex-shrink: 0;
  z-index: 0;
}
.content19 {
  width: 585px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.msg-icon1 {
  position: relative;
  width: 68px;
  height: 68px;
}
.div6 {
  width: 282px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.anova-consultancies-fzco3 {
  margin: 0;
}
.address1,
.content18,
.div7 {
  display: flex;
  justify-content: flex-start;
}
.div7 {
  width: 367px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-lgi);
}
.address1,
.content18 {
  flex-direction: column;
  align-items: flex-start;
}
.address1 {
  width: 367px;
  gap: var(--gap-11xl);
  font-size: var(--font-size-lg);
}
.content18 {
  width: 585px;
  gap: var(--gap-14xl);
  z-index: 1;
}
.get-in-touch3 {
  position: relative;
  line-height: 121%;
  font-weight: 600;
}
.get-in-touch2,
.title10,
.title9 {
  display: flex;
  justify-content: flex-start;
}
.title9 {
  margin: 0 !important;
  position: absolute;
  top: 34px;
  left: 635px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.get-in-touch2,
.title10 {
  align-items: center;
}
.get-in-touch2 {
  width: 1220px;
  flex-direction: row;
  position: relative;
  gap: var(--gap-31xl);
}
.title10 {
  width: 531px;
  flex-direction: column;
}
.your-name {
  position: relative;
}
.name1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 591px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-21xl);
}
.email-address {
  position: relative;
  display: inline-block;
  width: 127px;
  height: 22px;
  flex-shrink: 0;
}
.div8,
.mail5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mail5 {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 594px;
  height: 65px;
  flex-direction: column;
  padding: 0 var(--padding-19xl);
}
.div8 {
  width: 1220px;
  flex-direction: row;
  gap: var(--gap-16xl);
}
.phone-number3 {
  position: relative;
  display: inline-block;
  width: 139px;
  height: 22px;
  flex-shrink: 0;
}
.phone-number2 {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 591px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-21xl);
}
.subject2 {
  position: relative;
  display: inline-block;
  width: 121px;
  height: 22px;
  flex-shrink: 0;
}
.div10,
.form3,
.subject1 {
  display: flex;
  flex-direction: column;
}
.subject1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 594px;
  height: 65px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-23xl);
}
.div10,
.form3 {
  width: 1220px;
  justify-content: flex-start;
}
.div10 {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 222px;
  align-items: flex-start;
  padding: var(--padding-3xl) var(--padding-21xl);
}
.form3 {
  align-items: center;
  gap: var(--gap-9xl);
}
.form2 {
  text-align: left;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
}
.contact8,
.form2,
.mail4 {
  width: 1220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mail4 {
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  font-family: var(--font-poppins);
}
.contact8 {
  position: absolute;
  top: 101px;
  left: 350px;
  gap: var(--gap-81xl);
}
.vector-icon14,
.vector-icon15 {
  position: absolute;
  top: 142.34px;
  left: 1566.95px;
  width: 353.05px;
  height: 624.19px;
}
.vector-icon15 {
  top: 812.25px;
  left: 0;
  width: 359.19px;
  height: 597.75px;
}
.background-icon4 {
  position: relative;
  width: 194px;
  height: 60px;
  z-index: 0;
}
.submit1 {
  position: absolute;
  margin: 0 !important;
  top: 18px;
  left: 64px;
  line-height: 135.02%;
  font-weight: 600;
  z-index: 1;
}
.button6 {
  position: absolute;
  top: 1211px;
  left: 863px;
  width: 194px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.background2,
.contact7 {
  position: relative;
  width: 1920px;
  z-index: 0;
}
.contact7 {
  background-color: var(--color-lavender);
  height: 1410px;
  overflow: hidden;
  flex-shrink: 0;
}
.background2 {
  background-color: var(--color-darkslategray-200);
  height: 703px;
}
.location5 {
  position: relative;
  font-weight: 600;
}
.dubai-uae4 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
}
.content21,
.location4 {
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.location4 {
  width: 246px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  z-index: 0;
}
.logo-anova-3-icon2 {
  position: absolute;
  margin: 0 !important;
  top: 3px;
  left: -0.01px;
  width: 315px;
  height: 62px;
  object-fit: cover;
  z-index: 1;
}
.content22,
.mail6 {
  justify-content: flex-start;
}
.content22 {
  width: 163px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xs);
}
.mail6 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 585px;
  width: 242px;
  gap: var(--gap-2xs);
  z-index: 2;
}
.contact9,
.header5,
.mail6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact9 {
  width: 1219px;
  justify-content: flex-end;
  position: relative;
  gap: var(--gap-41xl);
}
.header5 {
  justify-content: flex-start;
}
.line4 {
  position: relative;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1218px;
  height: 1px;
}
.header4,
.quick-link5 {
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.header4 {
  width: 1220px;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-35xl);
}
.quick-link5 {
  position: relative;
  font-weight: 600;
  color: var(--buttons-primary);
}
.home6 {
  text-decoration: none;
  position: relative;
  line-height: 220.19%;
  color: inherit;
  display: inline-block;
  width: 79px;
}
.quick-link4 {
  width: 121px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.hr-consulting3 {
  cursor: pointer;
}
.hr-consulting3,
.it-consulting3 {
  text-decoration: none;
  position: relative;
  line-height: 220.19%;
  color: inherit;
  display: inline-block;
  width: 198px;
}
.servives2 {
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.terms-of-use4 {
  text-decoration: none;
  color: inherit;
}
.company-profile3,
.terms-of-use4 {
  position: relative;
  line-height: 220.19%;
  display: inline-block;
  width: 140px;
}
.pages2,
.uitility2 {
  width: 140.01px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.pages2 {
  width: 659.01px;
  flex-direction: row;
  gap: var(--gap-81xl);
}
.join-our-mailing2 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 220.19%;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 333px;
  height: 27px;
  flex-shrink: 0;
}
.message-box2,
.title11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title11 {
  width: 333px;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.message-box2 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 264px;
  height: 65px;
  justify-content: center;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
}
.subscribe8 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: right;
}
.button7,
.mail-box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl) var(--padding-8xl) var(--padding-3xl);
  background-color: var(--buttons-primary);
  border-radius: var(--br-3xs);
  justify-content: center;
}
.mail-box2 {
  width: 407px;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-roboto);
}
.content23 {
  width: 407px;
  flex-direction: column;
  gap: var(--gap-4xl);
}
.content23,
.details2,
.subscribe6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subscribe6 {
  background-color: var(--color-darkslategray-100);
  width: 479px;
  flex-direction: column;
  padding: var(--padding-23xl) var(--padding-17xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
}
.details2 {
  width: 1220.01px;
  flex-direction: row;
  gap: var(--gap-63xl);
}
.anova4 {
  color: var(--buttons-primary);
}
.copyright-2023-container2 {
  position: relative;
  line-height: 144.52%;
  display: inline-block;
  width: 704px;
  flex-shrink: 0;
  z-index: 0;
}
.follow2,
.vector-icon16 {
  position: absolute;
  margin: 0 !important;
}
.follow2 {
  top: 0;
  left: 1124.92px;
  line-height: 144.52%;
  z-index: 1;
}
.vector-icon16 {
  height: 96.15%;
  width: 2.05%;
  top: 3.85%;
  right: -0.01%;
  bottom: 0;
  left: 97.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.copyrights5 {
  width: 1219.84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-289xl);
}
.content20,
.copyrights4,
.footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyrights4 {
  width: 1219.84px;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.content20,
.footer2 {
  z-index: 1;
}
.content20 {
  margin: 0 !important;
  position: absolute;
  top: 96px;
  left: 350px;
  width: 1220.01px;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.footer2 {
  width: 1920px;
  height: 703px;
  justify-content: flex-end;
  position: relative;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.about-us5,
.contact11,
.home7,
.services5 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: calc(50% - 131.5px);
  letter-spacing: -0.01em;
  color: inherit;
}
.contact11,
.home7,
.services5 {
  left: calc(50% - 290.5px);
}
.contact11,
.services5 {
  left: calc(50% + 51.5px);
}
.contact11 {
  left: calc(50% + 228.5px);
}
.about-us-group {
  position: absolute;
  top: 14px;
  left: calc(50% - 300px);
  width: 581px;
  height: 21px;
}
.button-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--buttons-primary);
}
.register2 {
  position: absolute;
  top: 17.5%;
  left: 3.36%;
  font-size: var(--font-size-lg);
  letter-spacing: -0.01em;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4px;
  right: 0;
  width: 215px;
  height: 40px;
  overflow: hidden;
}
.logo-anova-2-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 246px;
  height: 48px;
  object-fit: cover;
}
.contact6,
.navbar2 {
  font-family: var(--font-roboto);
}
.navbar2 {
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: calc(50% - 898px);
  width: 1796px;
  height: 48px;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--buttons-primary);
}
.contact6 {
  position: relative;
  background-color: var(--color-lavender);
  width: 100%;
  height: 2109px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
}
